<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <title>Login</title>
    <meta name= "descrtiption" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="">
</head>
<body>
        <h3>Login</h3>

        <form action="/lps" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <br>
            <br>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <br>
            <br>

            <button type="submit" href="LoginPage/login_success.html"> Login </button>
        </form>


</body>
</html>